<h2>Versionsübersicht</h2>
<table >
  <thead>
      <tr>
        <th></th>
        <th>VersionsNr</th>
        <th>Inhalt</th>
        <th>Benutzer</th>
      </tr>
  </thead>
  <tbody>
      <% @chunk.versions.each do |vers|%>
      <tr>
        <td>
          <%= radio_button_tag('version1',vers.index, :checked => false)   %>
          <%= radio_button_tag('version2',vers.index, :checked => false)   %>
        <td><%= vers.index %></td>
        <% unless vers.reify == nil %>
            <td><%= raw (vers.reify.content) %></td>
        <% else %>
            <td><%= 'Objekt wurde erstellt' %></td>
        <% end %>
        <td><%= User.find(vers.whodunnit).username %></td>
      </tr>
      <% end %>
  </tbody>
</table>
<%= button_to 'Vergleiche',compare_book_chunk_version_path, method: :get %>
<%= button_to 'Zurück', book_url(@chunk.book_id) , method: :get%>

