<%= stylesheet_link_tag "versions" %>

<h2>Versionsübersicht: <%= @book.title %> / <%= @chunk.title %></h2>
<table>
  <tr>
    <th>Version</th>
    <th>Inhalt</th>
    <th>Benutzer</th>
    <th>Erstellt am</th>
  </tr>

  <% @chunk.versions.each do |vers|%>
    <% unless vers.index == 0 %>
      <tr>
        <td class="tdcenter"><%= vers.index %></td>
        <td class="version-content"><%= raw (vers.reify.content) %></td>
        <td><%= User.find(vers.whodunnit).username %></td>
        <td><%= vers.created_at.to_s(:db)  %></td>
        <td class="tdcenter"><%= button_to 'Revert', @chunk.book_id.to_s << @chunk.id.to_s << '/revert/' << vers.index.to_s , method: :post%></td>
      </tr>
      <% end %>
  <% end %>
</table>

<%= button_to 'Zurück', book_url(@chunk.book_id) , method: :get%>

