<h2>Versionsübersicht</h2>
<table>
  <tr>
    <th>VersionsNr</th>
    <th>Inhalt</th>
    <th>Benutzer</th>
    <th>Erstellt am</th>
  </tr>

  <% @chunk.versions.each do |vers|%>
  <tr>
    <td><%= vers.index %></td>
    <% unless vers.reify == nil %>
        <td><%= raw (vers.reify.content) %></td>
    <% else %>
        <td><%= 'Objekt wurde erstellt' %></td>
    <% end %>
    <td><%= User.find(vers.whodunnit).username %></td>
    <td><%= vers.created_at  %></td>
  </tr>
  <% end %>
</table>

<%= button_to 'Zurück', book_url(@chunk.book_id) , method: :get%>

